In [1]:
import numpy as np
import pandas as pd

In [4]:
from sklearn.datasets import load_boston

In [5]:
boston = load_boston()

boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename', 'data_module'])

In [6]:
X = pd.DataFrame(boston["data"], columns=boston["feature_names"])

X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [7]:
y = pd.DataFrame(boston["target"], columns=["price"])

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y,random_state =42, test_size=0.30)

In [10]:
from sklearn.linear_model import LinearRegression

In [11]:
lr = LinearRegression()
lr.fit(X_train, y_train)

LinearRegression()

In [12]:
y_pred = lr.predict(X_test)

y_pred.shape

(152, 1)

In [13]:
check_test = pd.DataFrame({
    "y_test": y_test["price"],
    "y_pred": y_pred.flatten(),
})

check_test.head(10)

     y_test     y_pred
173    23.6  28.648960
274    32.4  36.495014
491    13.6  15.411193
72     22.8  25.403213
452    16.1  18.855280
76     20.0  23.146689
316    17.8  17.392124
140    14.0  14.078599
471    19.6  23.036927
500    16.8  20.599433

In [14]:
from sklearn.metrics import r2_score

In [15]:
r2_score(y_test["price"],y_pred)

0.7112260057484894

In [16]:
from sklearn.ensemble import RandomForestRegressor

In [17]:
tree_reg = RandomForestRegressor(max_depth=12,random_state=42, n_estimators=1000)
tree_reg.fit(X_train, y_train.values[:, 0])

RandomForestRegressor(max_depth=12, n_estimators=1000, random_state=42)

In [18]:
y_pred_tree = tree_reg.predict(X_test)
y_pred_tree

array([22.80641237, 31.13146352, 16.33912494, 23.81072598, 17.13952074,
       21.8322837 , 19.89574701, 14.75411774, 21.2408346 , 20.89865761,
       20.2028696 , 19.95659298,  8.03651316, 21.51673023, 19.36048089,
       25.28222025, 18.82002442,  8.47636459, 45.9477    , 15.50141896,
       24.37448371, 23.98037718, 14.54950214, 23.57447941, 15.05119767,
       15.23703316, 21.59141811, 13.90617333, 19.67698308, 21.0552311 ,
       19.69950085, 23.2483229 , 29.99451024, 20.15961264, 14.39724675,
       16.02131035, 34.26043401, 19.19342625, 21.17764473, 24.22833434,
       18.60497   , 29.57765089, 45.5585    , 19.62038232, 22.575541  ,
       14.0331484 , 15.76855872, 24.50013129, 19.15469322, 28.28791716,
       21.35262285, 33.89102953, 17.67031122, 26.25583284, 45.51992393,
       21.89588357, 15.85210261, 32.38172361, 22.14020328, 20.61773671,
       25.39990971, 33.63617562, 30.10425708, 18.97044937, 27.14227131,
       16.90607   , 13.90610446, 23.10904339, 28.86343833, 15.57345488,
       20.70948699, 28.66437659, 10.37476229, 22.1543881 , 22.26786299,
        6.84962173, 20.03279482, 46.2002    , 11.19665149, 12.39772   ,
       21.66721447, 11.68129804, 20.00054824,  9.31685836, 20.83658519,
       26.82375008, 15.86027649, 23.25939507, 23.79645083, 17.83202266,
       21.80042281,  7.29623119, 19.97472281, 19.28549202, 23.41290204,
       19.87328529, 38.31104592, 11.75977982, 12.5467981 , 12.34709006,
       20.43969467, 23.88524652, 13.44766768, 20.21597173, 20.64942236,
       12.59218246, 19.14518018, 24.83066387, 19.94982081, 23.47920458,
        9.0000831 , 15.15650333, 22.80687099, 25.50230991, 31.74268339,
       14.72469086, 41.6346    , 16.44377713, 19.73225857, 24.2808469 ,
       19.2720131 , 24.12389183,  7.92773071, 20.77273602, 24.74146182,
       21.62099517, 24.00739462, 34.93947359, 16.73029907, 45.0715    ,
       15.02922548, 23.6626488 , 19.63200495, 18.59618182, 14.01791329,
       21.15679194, 20.72393696, 31.66748901, 28.8752    , 17.39805794,
       19.14160527, 25.01781308, 20.24159678, 18.47366357,  6.91224905,
       21.80573318, 16.94101797, 13.52164009, 15.11262111, 42.8087    ,
       15.58610295, 16.07242513])

In [19]:
r2_score(y_test["price"],y_pred_tree)

0.87472606157312

In [20]:
RandomForestRegressor

sklearn.ensemble._forest.RandomForestRegressor

In [21]:
feats = {}
for feature, importance in zip(X.columns, tree_reg.feature_importances_):
    feats[feature] = importance
feats_df = pd.DataFrame(feats.items())
feats_df = feats_df.rename(columns={0: "Features", 1: "Importan"}).sort_values(by=['Importan'],ascending=False)
feats_df

   Features  Importan
12    LSTAT  0.415847
5        RM  0.402682
7       DIS  0.063973
0      CRIM  0.031676
10  PTRATIO  0.018081
6       AGE  0.014299
4       NOX  0.014269
11        B  0.012451
9       TAX  0.011525
2     INDUS  0.007138
8       RAD  0.005281
1        ZN  0.001543
3      CHAS  0.001236

In [22]:
feats_df['Importan'].sum()

0.9999999999999998