In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

#### Логистическая регрессия

Логистическая регрессия используется для задач квалификации,

при этом вычисляется вероятность принадлежности

события к определенному классу.

Задача алгоритма логистической регрессии - найти

подходящие коэффициенты w при признаках x:

z = w0 + w1 * x1 + w2 * x2 + ... + wm * xm

Величина z помещается в сигмоидную функцию для вычисления вероятности:

F(x) = 1 / (1 + e^-z)

Значение F(x) будет расположено на отрезке [0, 1]. 

F(x)  вероятнось отнесения события к классу 1,

1 - F(x) - вероятность отнесения события к классу 0.

#### Log loss

Алгоритм логистической регрессии минимизирует величину logloss:

Logloss = -y * ln(p) - (1 - y)* ln(1 - p)

где y - истинное значение (0 или 1)

p - вычисленная алгоритмом вероятность того, что событие принадлежит классу 1

In [3]:
data = pd.read_csv('input/train.csv')

In [4]:
data.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [5]:
data = data.set_index('PassengerId')

In [6]:
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
data.columns

Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket',
       'Fare', 'Cabin', 'Embarked'],
      dtype='object')

Наша задача - определить, выжил ли человек при крушении Титаника

В поле Survived выжившие пассажиры обозначены единицей, а утонувшие нулём

In [8]:
target = 'Survived'

In [9]:
y = data[target]

In [10]:
X = data.drop(target, axis=1)

Изучение качества данных и их очистка

In [11]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    891 non-null    int64
 1   Name      891 non-null    object
 2   Sex       891 non-null    object
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Ticket    891 non-null    object
 7   Fare      891 non-null    float64
 8   Cabin     204 non-null    object
 9   Embarked  889 non-null    object
dtypes: float64(2), int64(3), object(5)
memory usage: 76.6+ KB

В поле Cabin слишком много пропущенных значений,

в этом уроке мы не будем его использовать.

Столбцы Name и Ticket  в этот раз то же не рассматриваем.

Удалим эти поля:

In [12]:
X = X.drop(['Cabin', 'Name', 'Ticket'], axis=1)

В поле возраст 20% значений не заполнено. Заменим пропущенные значения на значения среднего возраста.

In [13]:
mean_age = X['Age'].mean()
mean_age

29.69911764705882

In [14]:
X['Age'] = X['Age'].fillna(mean_age)

In [15]:
X['Age'].unique()

array([22.        , 38.        , 26.        , 35.        , 29.69911765,
       54.        ,  2.        , 27.        , 14.        ,  4.        ,
       58.        , 20.        , 39.        , 55.        , 31.        ,
       34.        , 15.        , 28.        ,  8.        , 19.        ,
       40.        , 66.        , 42.        , 21.        , 18.        ,
        3.        ,  7.        , 49.        , 29.        , 65.        ,
       28.5       ,  5.        , 11.        , 45.        , 17.        ,
       32.        , 16.        , 25.        ,  0.83      , 30.        ,
       33.        , 23.        , 24.        , 46.        , 59.        ,
       71.        , 37.        , 47.        , 14.5       , 70.5       ,
       32.5       , 12.        ,  9.        , 36.5       , 51.        ,
       55.5       , 40.5       , 44.        ,  1.        , 61.        ,
       56.        , 50.        , 36.        , 45.5       , 20.5       ,
       62.        , 41.        , 52.        , 63.        , 23.5       ,
        0.92      , 43.        , 60.        , 10.        , 64.        ,
       13.        , 48.        ,  0.75      , 53.        , 57.        ,
       80.        , 70.        , 24.5       ,  6.        ,  0.67      ,
       30.5       ,  0.42      , 34.5       , 74.        ])

В поле Embarked, которое является тестовым, не хватает двух значений,

заполним пропущенные значения наиболее часто встречающимися (мода)

In [16]:
X['Embarked'].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [17]:
embarked_mode = X['Embarked'].mode()[0]
embarked_mode

'S'

In [18]:
X['Embarked'] = X['Embarked'].fillna(embarked_mode)

In [19]:
X['Embarked'].value_counts()

S    646
C    168
Q     77
Name: Embarked, dtype: int64

In [20]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    891 non-null    int64
 1   Sex       891 non-null    object
 2   Age       891 non-null    float64
 3   SibSp     891 non-null    int64
 4   Parch     891 non-null    int64
 5   Fare      891 non-null    float64
 6   Embarked  891 non-null    object
dtypes: float64(2), int64(3), object(2)
memory usage: 55.7+ KB

Работа с категориальными признаками

Признак пола пассажира - категориальная переменная. Так как в ней два класса, 

то мы можем представить одной колонкой со значаниями 0 и 1

In [21]:
X['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [22]:
X['Sex'] = (X['Sex'] == 'female').astype(int)

In [23]:
X['Sex'].value_counts()

0    577
1    314
Name: Sex, dtype: int64

Еще одна катигориальная переменная - Embarked

преобразуем её значения в dummy-переменные

Теперь каждому её значению будет отведен отдельный столбец

в котором возможны два числа

1 (переменная равна данному значению)

0 (переменная не равна данному значению)

In [24]:
X = pd.get_dummies(X)

Переменная Embarked преобразовалась в дамми переменные Embarked_C, Embarked_Q, Embarked_S

In [25]:
X.columns

Index(['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked_C',
       'Embarked_Q', 'Embarked_S'],
      dtype='object')

In [26]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Pclass      891 non-null    int64
 1   Sex         891 non-null    int32
 2   Age         891 non-null    float64
 3   SibSp       891 non-null    int64
 4   Parch       891 non-null    int64
 5   Fare        891 non-null    float64
 6   Embarked_C  891 non-null    uint8
 7   Embarked_Q  891 non-null    uint8
 8   Embarked_S  891 non-null    uint8
dtypes: float64(2), int32(1), int64(3), uint8(3)
memory usage: 47.9 KB

In [27]:
X.head(10)

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
PassengerId,,,,,,,,,
1,3,0,22.000000,1,0,7.2500,0,0,1
2,1,1,38.000000,1,0,71.2833,1,0,0
3,3,1,26.000000,0,0,7.9250,0,0,1
4,1,1,35.000000,1,0,53.1000,0,0,1
5,3,0,35.000000,0,0,8.0500,0,0,1
6,3,0,29.699118,0,0,8.4583,0,1,0
7,1,0,54.000000,0,0,51.8625,0,0,1
8,3,0,2.000000,3,1,21.0750,0,0,1
9,3,1,27.000000,0,2,11.1333,0,0,1
10,2,1,14.000000,1,0,30.0708,1,0,0

Пепеменную Pclass можно отправить в модель в таком виде,

какая она есть сейчас, так как она представленна числами,

но так как это все-таки не количественная переменная 

(например, нельзя сказать, что между классами 1 и 2 такая же разность как между 2 и 3),

то её так же переведем в дамми-переменные.

Для этого поменяем её тип данных на category

и применим ещё раз применим функцию get_dummies

ко всему датафрейму

Эта функция переведет в дамми-переменные все нечисловые признаки

In [28]:
X['Pclass'].unique()

array([3, 1, 2], dtype=int64)

In [29]:
X['Pclass'] = X['Pclass'].astype('category')

In [30]:
X = pd.get_dummies(X)

In [31]:
X.columns

Index(['Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked_C', 'Embarked_Q',
       'Embarked_S', 'Pclass_1', 'Pclass_2', 'Pclass_3'],
      dtype='object')

In [32]:
X.head(10)

,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S,Pclass_1,Pclass_2,Pclass_3
PassengerId,,,,,,,,,,,
1,0,22.000000,1,0,7.2500,0,0,1,0,0,1
2,1,38.000000,1,0,71.2833,1,0,0,1,0,0
3,1,26.000000,0,0,7.9250,0,0,1,0,0,1
4,1,35.000000,1,0,53.1000,0,0,1,1,0,0
5,0,35.000000,0,0,8.0500,0,0,1,0,0,1
6,0,29.699118,0,0,8.4583,0,1,0,0,0,1
7,0,54.000000,0,0,51.8625,0,0,1,1,0,0
8,0,2.000000,3,1,21.0750,0,0,1,0,0,1
9,1,27.000000,0,2,11.1333,0,0,1,0,0,1
10,1,14.000000,1,0,30.0708,1,0,0,0,1,0

Цель разбиения данных на тренировочный, валидационный и тестовый датасеты

В этот раз мы будем более работать с разделением данных для модели более тщательно,

мы разобъем данные из файла train.csv на две части

тренировочный набор данных (признаки X_train, целевая переменная y_train)

и валидационные ( соответственно X_valid и y_valid)

на тренировочном датасете мы будем строить модель, а на валидационном - проверять её качество.

После проверки на валидационном сете можно будет окончательно проверить модель на тестовом сете 

рекомендуем самостоятельно проверить точнить данных при отправке решения

In [33]:
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.25, random_state=42)

Построение модели

В начале работы над любой задачей рекомендуется сначала сделать простую модель,

не затрачивая большого количества времени

Затем можно будет оценить новые модели сравнивая их качество

с качеством первоначальной (базовой) модели

Сначала посмотрим на информацию о признаках

In [35]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 668 entries, 299 to 103
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sex         668 non-null    int32
 1   Age         668 non-null    float64
 2   SibSp       668 non-null    int64
 3   Parch       668 non-null    int64
 4   Fare        668 non-null    float64
 5   Embarked_C  668 non-null    uint8
 6   Embarked_Q  668 non-null    uint8
 7   Embarked_S  668 non-null    uint8
 8   Pclass_1    668 non-null    uint8
 9   Pclass_2    668 non-null    uint8
 10  Pclass_3    668 non-null    uint8
dtypes: float64(2), int32(1), int64(2), uint8(6)
memory usage: 32.6 KB

Все признаки - числовые, по этому мы можем построить модель используя все признаки

In [36]:
lr = LogisticRegression()

In [37]:
lr.fit(X_train, y_train)

LogisticRegression()

In [38]:
y_pred = lr.predict(X_valid)

In [39]:
y_pred

array([0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1,
       0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0,
       0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0,
       1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0,
       0, 1, 0], dtype=int64)

Метрика Accuracy (доля правильных ответов)

In [40]:
from sklearn.metrics import accuracy_score

In [41]:
accuracy_score(y_valid, y_pred)

0.8026905829596412

Можно сравнить с Accuracy на тренировочном дата сете

In [42]:
y_pred_train = lr.predict(X_train)

In [43]:
accuracy_score(y_train, y_pred_train)

0.8083832335329342

Вычисление вероятности событий

In [44]:
y_proba = lr.predict_proba(X_valid)

In [45]:
y_proba

array([[0.88803847, 0.11196153],
       [0.7306994 , 0.2693006 ],
       [0.87015651, 0.12984349],
       [0.08991937, 0.91008063],
       [0.25062015, 0.74937985],
       [0.07826308, 0.92173692],
       [0.33446957, 0.66553043],
       [0.9052244 , 0.0947756 ],
       [0.24542474, 0.75457526],
       [0.10340605, 0.89659395],
       [0.69433675, 0.30566325],
       [0.93487212, 0.06512788],
       [0.62484707, 0.37515293],
       [0.84761359, 0.15238641],
       [0.75859308, 0.24140692],
       [0.07898047, 0.92101953],
       [0.72748705, 0.27251295],
       [0.3343849 , 0.6656151 ],
       [0.70247546, 0.29752454],
       [0.70651163, 0.29348837],
       [0.88386345, 0.11613655],
       [0.64286509, 0.35713491],
       [0.39821922, 0.60178078],
       [0.8694494 , 0.1305506 ],
       [0.89833287, 0.10166713],
       [0.92821101, 0.07178899],
       [0.56597441, 0.43402559],
       [0.72832999, 0.27167001],
       [0.91442869, 0.08557131],
       [0.42638414, 0.57361586],
       [0.86654162, 0.13345838],
       [0.35847562, 0.64152438],
       [0.48100121, 0.51899879],
       [0.41666522, 0.58333478],
       [0.86273767, 0.13726233],
       [0.86423028, 0.13576972],
       [0.58764896, 0.41235104],
       [0.33446957, 0.66553043],
       [0.06807562, 0.93192438],
       [0.90119358, 0.09880642],
       [0.71253279, 0.28746721],
       [0.92109508, 0.07890492],
       [0.90112761, 0.09887239],
       [0.86537364, 0.13462636],
       [0.43710561, 0.56289439],
       [0.91111172, 0.08888828],
       [0.86639574, 0.13360426],
       [0.87988996, 0.12011004],
       [0.88427981, 0.11572019],
       [0.66870939, 0.33129061],
       [0.26566214, 0.73433786],
       [0.21285968, 0.78714032],
       [0.96298626, 0.03701374],
       [0.48735374, 0.51264626],
       [0.95175076, 0.04824924],
       [0.07958272, 0.92041728],
       [0.73690369, 0.26309631],
       [0.05298537, 0.94701463],
       [0.18635007, 0.81364993],
       [0.26337579, 0.73662421],
       [0.87378272, 0.12621728],
       [0.11635229, 0.88364771],
       [0.18917577, 0.81082423],
       [0.61164067, 0.38835933],
       [0.86537364, 0.13462636],
       [0.32636271, 0.67363729],
       [0.59337753, 0.40662247],
       [0.89920762, 0.10079238],
       [0.84631692, 0.15368308],
       [0.13239035, 0.86760965],
       [0.20087245, 0.79912755],
       [0.03546013, 0.96453987],
       [0.45259651, 0.54740349],
       [0.10171142, 0.89828858],
       [0.88058405, 0.11941595],
       [0.93331822, 0.06668178],
       [0.34015581, 0.65984419],
       [0.06395438, 0.93604562],
       [0.207479  , 0.792521  ],
       [0.55916008, 0.44083992],
       [0.94376431, 0.05623569],
       [0.16602725, 0.83397275],
       [0.08369349, 0.91630651],
       [0.86538064, 0.13461936],
       [0.68121594, 0.31878406],
       [0.75868296, 0.24131704],
       [0.06208462, 0.93791538],
       [0.06058705, 0.93941295],
       [0.69896977, 0.30103023],
       [0.90146943, 0.09853057],
       [0.85427487, 0.14572513],
       [0.55669105, 0.44330895],
       [0.80497864, 0.19502136],
       [0.86538528, 0.13461472],
       [0.90119358, 0.09880642],
       [0.89630139, 0.10369861],
       [0.76407472, 0.23592528],
       [0.93677954, 0.06322046],
       [0.19722725, 0.80277275],
       [0.89329274, 0.10670726],
       [0.82395199, 0.17604801],
       [0.91549329, 0.08450671],
       [0.04789295, 0.95210705],
       [0.92260518, 0.07739482],
       [0.90337108, 0.09662892],
       [0.91106957, 0.08893043],
       [0.2692152 , 0.7307848 ],
       [0.71977462, 0.28022538],
       [0.90135834, 0.09864166],
       [0.56210141, 0.43789859],
       [0.12402671, 0.87597329],
       [0.87230193, 0.12769807],
       [0.06658404, 0.93341596],
       [0.65759799, 0.34240201],
       [0.38071844, 0.61928156],
       [0.86911057, 0.13088943],
       [0.77149973, 0.22850027],
       [0.65435799, 0.34564201],
       [0.17912129, 0.82087871],
       [0.6889055 , 0.3110945 ],
       [0.80330625, 0.19669375],
       [0.05893104, 0.94106896],
       [0.26468062, 0.73531938],
       [0.55653832, 0.44346168],
       [0.88739468, 0.11260532],
       [0.52803393, 0.47196607],
       [0.18520892, 0.81479108],
       [0.37988757, 0.62011243],
       [0.3515792 , 0.6484208 ],
       [0.87363697, 0.12636303],
       [0.33433145, 0.66566855],
       [0.88803847, 0.11196153],
       [0.73248884, 0.26751116],
       [0.24146694, 0.75853306],
       [0.66282457, 0.33717543],
       [0.25370013, 0.74629987],
       [0.04698154, 0.95301846],
       [0.89925115, 0.10074885],
       [0.93105006, 0.06894994],
       [0.37932255, 0.62067745],
       [0.87343359, 0.12656641],
       [0.27945524, 0.72054476],
       [0.70907109, 0.29092891],
       [0.79886082, 0.20113918],
       [0.5485891 , 0.4514109 ],
       [0.23903705, 0.76096295],
       [0.7219998 , 0.2780002 ],
       [0.89185994, 0.10814006],
       [0.0513602 , 0.9486398 ],
       [0.93291126, 0.06708874],
       [0.84544379, 0.15455621],
       [0.88406052, 0.11593948],
       [0.86288219, 0.13711781],
       [0.3770886 , 0.6229114 ],
       [0.90112761, 0.09887239],
       [0.90155473, 0.09844527],
       [0.87837437, 0.12162563],
       [0.33442948, 0.66557052],
       [0.23124936, 0.76875064],
       [0.43800973, 0.56199027],
       [0.81899083, 0.18100917],
       [0.61092736, 0.38907264],
       [0.77561114, 0.22438886],
       [0.0686839 , 0.9313161 ],
       [0.8649768 , 0.1350232 ],
       [0.73750199, 0.26249801],
       [0.67788505, 0.32211495],
       [0.12409848, 0.87590152],
       [0.87718187, 0.12281813],
       [0.91552116, 0.08447884],
       [0.42368887, 0.57631113],
       [0.15455023, 0.84544977],
       [0.65748983, 0.34251017],
       [0.24318347, 0.75681653],
       [0.8594702 , 0.1405298 ],
       [0.84637507, 0.15362493],
       [0.68305061, 0.31694939],
       [0.1197072 , 0.8802928 ],
       [0.31135891, 0.68864109],
       [0.71985261, 0.28014739],
       [0.67525747, 0.32474253],
       [0.90750129, 0.09249871],
       [0.91357967, 0.08642033],
       [0.53306523, 0.46693477],
       [0.23858693, 0.76141307],
       [0.7185368 , 0.2814632 ],
       [0.64782417, 0.35217583],
       [0.90119358, 0.09880642],
       [0.60066194, 0.39933806],
       [0.22914655, 0.77085345],
       [0.93909252, 0.06090748],
       [0.74138403, 0.25861597],
       [0.88856064, 0.11143936],
       [0.89849802, 0.10150198],
       [0.29246913, 0.70753087],
       [0.12249792, 0.87750208],
       [0.03535011, 0.96464989],
       [0.7467693 , 0.2532307 ],
       [0.0845388 , 0.9154612 ],
       [0.57230694, 0.42769306],
       [0.96131072, 0.03868928],
       [0.41768968, 0.58231032],
       [0.10789887, 0.89210113],
       [0.67072682, 0.32927318],
       [0.80192263, 0.19807737],
       [0.34551007, 0.65448993],
       [0.89850533, 0.10149467],
       [0.67775665, 0.32224335],
       [0.84180314, 0.15819686],
       [0.9455578 , 0.0544422 ],
       [0.3199308 , 0.6800692 ],
       [0.90231505, 0.09768495],
       [0.08446966, 0.91553034],
       [0.86538763, 0.13461237],
       [0.62484707, 0.37515293],
       [0.90026336, 0.09973664],
       [0.19281432, 0.80718568],
       [0.64364593, 0.35635407],
       [0.15742689, 0.84257311],
       [0.90146943, 0.09853057],
       [0.90119358, 0.09880642],
       [0.14370257, 0.85629743],
       [0.89868834, 0.10131166]])

Нас интересует вероятность события 1 (правй столбец)

при получении ответа значение из него округляются до 0 или до 1


Сохраним данные

In [46]:
X_train.to_pickle('X_train.pkl')
y_train.to_pickle('y_train.pkl')

X_valid.to_pickle('X_valid.pkl')
y_valid.to_pickle('y_valid.pkl')